<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MusicPlaylist.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5DC927D92A7A80FF001A4F41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DC927EF2A7A8100001A4F41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DC927F92A7A8100001A4F41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
